accounts:
  my_account:
    phone: "912XXXXXXX"
    password: "YourPassword"
# proxy: "http://127.0.0.1:8888" # Optional
mc:
  host: "127.0.0.1"
  port: 8080
  bucket: "my_account"
  access_key: "anything"
  secret_key: "anything"
